mod_LSUN/xsd/import-bilan-complet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:fr:edu:scolarite:lsun:bilans:import"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lsun="urn:fr:edu:scolarite:lsun:bilans:import"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="lsun-bilans" type="lsun:LsunBilans">
        <xs:annotation>
            <xs:documentation>Element racine du document</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="LsunBilans">
        <xs:annotation>
            <xs:documentation>Décrit la structure de l'élément racine du document
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="entete" type="lsun:Entete" />
            <xs:element name="donnees" type="lsun:Donnees" />
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:string" use="required" fixed="2.0">
            <xs:annotation>
                <xs:documentation>La version de ce XSD est fixée à 2.0
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Entete">
        <xs:annotation>
            <xs:documentation>Contient les méta-données requises au traitement du fichier d'import
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="editeur" type="lsun:Chaine50">
                <xs:annotation>
                    <xs:documentation>Identifiant de l'éditeur du logiciel ayant généré les données à importer
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="application" type="lsun:Chaine50">
                <xs:annotation>
                    <xs:documentation>Identifiant du logiciel ayant généré les données à importer
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="etablissement" type="lsun:CodeUai">
                <xs:annotation>
                    <xs:documentation>Code UAI de l'établissement ayant émis les données à importer
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="Donnees">
        <xs:annotation>
            <xs:documentation>Contient les données constitutives des bilans
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="responsables-etab">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="responsable-etab" type="lsun:ResponsableEtab" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="responsableEtabConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité du libellé du responsable
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:responsable-etab" />
                    <xs:field xpath="@libelle" />
                </xs:unique>
            </xs:element>
            <xs:element name="eleves">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="eleve" type="lsun:Eleve" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="eleveConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de l'identifiant "Base Élèves" de l'élève
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:eleve" />
                    <xs:field xpath="@id-be" />
                </xs:unique>
            </xs:element>
            <xs:element name="periodes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="periode" type="lsun:Periode" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="periodeConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (millesime, indice, nombre de périodes) de la période
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:periode" />
                    <xs:field xpath="@millesime" />
                    <xs:field xpath="@indice" />
                    <xs:field xpath="@nb-periodes" />
                </xs:unique>
            </xs:element>
            <xs:element name="disciplines" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="discipline" type="lsun:Discipline" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="disciplineConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (code, modalité d'élection) de la discipline
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:discipline" />
                    <xs:field xpath="@code" />
                    <xs:field xpath="@modalite-election" />
                </xs:unique>
            </xs:element>
            <xs:element name="enseignants">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="enseignant" type="lsun:Enseignant" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="enseignantConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (type, identifiant STS) de l'enseignant
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:enseignant" />
                    <xs:field xpath="@type" />
                    <xs:field xpath="@id-sts" />
                </xs:unique>
            </xs:element>
            <xs:element name="elements-programme" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="element-programme" type="lsun:ElementProgramme" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="elementProgrammeLibelleConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité du libellé de l'élément de programme
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:element-programme" />
                    <xs:field xpath="@libelle" />
                </xs:unique>
            </xs:element>
            <xs:element name="parcours-communs" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="parcours-commun">
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>Contient les parcours éducatifs communs à une classe
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="parcours" type="lsun:Parcours" />
                                </xs:sequence>
                                <xs:attribute name="periode-ref" type="xs:IDREF" use="required" />
                                <xs:attribute name="code-division" type="lsun:CodeStructure" use="required" />
                            </xs:complexType>
                            <xs:unique name="parcoursCommunCodeConstraint">
                                <xs:annotation>
                                    <xs:documentation>Unicité du code du parcours éducatif commun
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:selector xpath="lsun:parcours" />
                                <xs:field xpath="@code" />
                            </xs:unique>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="parcoursCommunConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (période, division) du parcours commun
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:parcours-commun" />
                    <xs:field xpath="@periode-ref" />
                    <xs:field xpath="@code-division" />
                </xs:unique>
            </xs:element>
            <xs:element name="vies-scolaires-communs" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="vie-scolaire-commun" type="lsun:VieScolaireCommun" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="vieScolaireCommunConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (période, division) de la vie scolaire commun
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:vie-scolaire-commun" />
                    <xs:field xpath="@periode-ref" />
                    <xs:field xpath="@code-division" />
                </xs:unique>
            </xs:element>
            <xs:element name="epis" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="epi" type="lsun:Epi" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="epis-groupes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="epi-groupe" type="lsun:EpiGroupe" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="acc-persos" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="acc-perso" type="lsun:AccPerso" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="acc-persos-groupes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="acc-perso-groupe" type="lsun:AccPersoGroupe" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bilans-periodiques" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bilan-periodique" type="lsun:BilanPeriodique"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="bilanPeriodiqueConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (élève, période) du bilan périodique
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:bilan-periodique" />
                    <xs:field xpath="@eleve-ref" />
                    <xs:field xpath="@periode-ref" />
                </xs:unique>
            </xs:element>
            <xs:element name="bilans-cycle" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="bilan-cycle" type="lsun:BilanCycle" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="bilanCycleConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la clé (élève, cycle) du bilan de cycle
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:bilan-cycle" />
                    <xs:field xpath="@eleve-ref" />
                    <xs:field xpath="@cycle" />
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Eleve">
        <xs:annotation>
            <xs:documentation>La description de l'élève avec ses informations de debogage (nom, prenom)
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="id-be" type="xs:positiveInteger" use="required" />
        <xs:attribute name="nom" type="lsun:NomPrenom" />
        <xs:attribute name="prenom" type="lsun:NomPrenom" />
        <xs:attribute name="code-division" type="lsun:CodeStructure" use="required" />
    </xs:complexType>
    
    <xs:complexType name="ResponsableEtab">
        <xs:annotation>
            <xs:documentation>Le libellé du responsable de l'établissement</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="libelle" type="lsun:NomPrenom" use="required" />
    </xs:complexType>

    <xs:complexType name="Periode">
        <xs:annotation>
            <xs:documentation>Décrit une période pédagogique (trimestre, semestre ou autre) avec
                son indice et le nombre de périodes composant l'année scolaire
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="millesime" type="lsun:Millesime" use="required" />
        <xs:attribute name="indice" type="xs:int" use="required" />
        <xs:attribute name="nb-periodes" type="xs:int" use="required" />
    </xs:complexType>

    <xs:complexType name="Discipline">
        <xs:annotation>
            <xs:documentation>Contient les informations relatives à la discpline
                (le code doit correspondre à un code de matière nationale)
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="code" type="lsun:CodeMatiere" use="required" />
        <xs:attribute name="modalite-election" type="lsun:ModaliteElection" use="required" />
        <xs:attribute name="libelle" type="lsun:Chaine40" use="required" />
    </xs:complexType>

    <xs:complexType name="Enseignant">
        <xs:annotation>
            <xs:documentation>Contient les informations relatives à l'enseignant
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="type" type="lsun:TypeEnseignant" use="required" />
        <xs:attribute name="id-sts" type="xs:positiveInteger" use="required" />
        <xs:attribute name="civilite" type="lsun:Civilite" />
        <xs:attribute name="nom" type="lsun:NomPrenom" />
        <xs:attribute name="prenom" type="lsun:NomPrenom" />
    </xs:complexType>

    <xs:complexType name="ElementProgramme">
        <xs:annotation>
            <xs:documentation>Contient le libellé de l'élément de programme
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="libelle" type="lsun:Chaine300" use="required" />
    </xs:complexType>

    <xs:complexType name="VieScolaireCommun">
        <xs:annotation>
            <xs:documentation>Contient les parcours éducatifs communs à une classe
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="commentaire" type="lsun:Chaine600" />
        </xs:sequence>
        <xs:attribute name="periode-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="code-division" type="lsun:CodeStructure" use="required" />
    </xs:complexType>

    <xs:complexType name="Epi">
        <xs:annotation>
            <xs:documentation>Contient l'intitulé, la thématique, la description et les disciplines
            de l'EPI (enseignement pratique inter-disciplinaire)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="description" type="lsun:Chaine600" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="intitule" type="lsun:Chaine150" use="required" />
        <xs:attribute name="thematique" type="lsun:ThematiqueEpi" use="required" />
        <xs:attribute name="discipline-refs" type="lsun:AtLeast2IDREFS" use="required" />
    </xs:complexType>

    <xs:complexType name="EpiGroupe">
        <xs:annotation>
            <xs:documentation>Contient l'intitulé, le commentaire et les couples
            enseignant/discipline d'un EPI défini pour un groupe d'élèves
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="commentaire" type="lsun:Chaine600" minOccurs="0"/>
            <xs:element name="enseignants-disciplines">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="enseignant-discipline" type="lsun:EnseignantDiscipline" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="epi-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="intitule" type="lsun:Chaine150" use="required" />
    </xs:complexType>

    <xs:complexType name="AccPerso">
        <xs:annotation>
            <xs:documentation>Contient l'intitulé, la description et les disciplines de
            l'accompagnement personnalisé
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="description" type="lsun:Chaine600" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="intitule" type="lsun:Chaine150" use="required" />
        <xs:attribute name="discipline-refs" type="xs:IDREFS" use="required" />
    </xs:complexType>

    <xs:complexType name="AccPersoGroupe">
        <xs:annotation>
            <xs:documentation>Contient l'intitulé, le commentaire et les couples
            enseignant/discipline d'un accompagnement personnalisé défini pour un groupe d'élèves
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="commentaire" type="lsun:Chaine600" minOccurs="0"/>
            <xs:element name="enseignants-disciplines">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="enseignant-discipline" type="lsun:EnseignantDiscipline" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="acc-perso-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="intitule" type="lsun:Chaine150" use="required" />
    </xs:complexType>

    <xs:complexType name="BilanPeriodique">
        <xs:annotation>
            <xs:documentation>Contient les données d'un bilan périodique</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="liste-acquis">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="acquis" type="lsun:Acquis" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="acquisConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité de la discipline d'un acquis scolaire
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:acquis" />
                    <xs:field xpath="@discipline-ref" />
                </xs:unique>
            </xs:element>
            <xs:element name="epis-eleve" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="epi-eleve" type="lsun:EpiEleve" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="acc-persos-eleve" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="acc-perso-eleve" type="lsun:AccPersoEleve" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="liste-parcours" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="parcours" type="lsun:Parcours" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="parcoursConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité sur le code du parcours éducatif individuel
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:parcours" />
                    <xs:field xpath="@code" />
                </xs:unique>
            </xs:element>
            <xs:element name="modalites-accompagnement" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="modalite-accompagnement" type="lsun:ModaliteAccompagnement" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="modaliteAccompagnementConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité sur le code de la modalité d'accompagnement
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:modalite-accompagnement" />
                    <xs:field xpath="@code" />
                </xs:unique>
            </xs:element>
            <xs:element name="acquis-conseils" type="lsun:Chaine1000" />
            <xs:element name="vie-scolaire" type="lsun:VieScolaire" />
            <xs:element name="socle" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="domaine" type="lsun:DomaineSocle" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="domaineSoclePeriodiqueConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité sur le code du domaine du socle commun
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:domaine" />
                    <xs:field xpath="@code" />
                </xs:unique>
            </xs:element>
            <xs:element name="responsables" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="responsable" type="lsun:Responsable" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="eleve-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="periode-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="date-conseil-classe" type="xs:date" use="required" />
        <xs:attribute name="date-scolarite" type="xs:date" use="required" />
        <xs:attribute name="date-verrou" type="xs:date" use="required" />
        <xs:attribute name="responsable-etab-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="prof-princ-refs" type="xs:IDREFS" />
        
    </xs:complexType>

    <xs:complexType name="Acquis">
        <xs:annotation>
            <xs:documentation>Contient la moyenne de l'élève, de la structure et l'appréciation
                pour une discipline et un (ou plusieurs) enseignant(s)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="appreciation" type="lsun:Chaine600" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="discipline-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="enseignant-refs" type="xs:IDREFS" use="required" />
        <xs:attribute name="element-programme-refs" type="xs:IDREFS" use="required" />
        <xs:attribute name="moyenne-eleve" type="lsun:MoyenneAlphanumerique" />
        <xs:attribute name="moyenne-structure" type="lsun:MoyenneAlphanumerique" />
        <xs:attribute name="eleve-non-note" type="xs:boolean" />
        <xs:attribute name="structure-non-notee" type="xs:boolean" />
        <xs:attribute name="positionnement" type="lsun:PositionnementAcquis" />
    </xs:complexType>

    <xs:complexType name="EpiEleve">
        <xs:annotation>
            <xs:documentation>Contient le commentaire d'un EPI pour un élève
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="commentaire" type="lsun:Chaine600" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="epi-groupe-ref" type="xs:IDREF" use="required" />
    </xs:complexType>

    <xs:complexType name="AccPersoEleve">
        <xs:annotation>
            <xs:documentation>Contient le commentaire d'un accompagnement personnalisé pour un élève
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="commentaire" type="lsun:Chaine600" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="acc-perso-groupe-ref" type="xs:IDREF" use="required" />
    </xs:complexType>

    <xs:complexType name="EnseignantDiscipline">
        <xs:annotation>
            <xs:documentation>Contient un couple enseignant / discipline</xs:documentation>
        </xs:annotation>
        <xs:attribute name="enseignant-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="discipline-ref" type="xs:IDREF" use="required" />
    </xs:complexType>

    <xs:complexType name="Parcours">
        <xs:annotation>
            <xs:documentation>Contient les parcours éducatifs d'un élève </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="lsun:Chaine600">
                <xs:attribute name="code" type="lsun:CodeParcours" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ModaliteAccompagnement">
        <xs:annotation>
            <xs:documentation>Contient les parcours éducatifs d'un élève </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="complement-ppre" type="lsun:Chaine600" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="code" type="lsun:CodeModalite" use="required" />
    </xs:complexType>

    <xs:complexType name="VieScolaire">
        <xs:annotation>
            <xs:documentation>Contient les informations relatives à l'élève pour le module
                "Communication avec la famille"
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="commentaire" type="lsun:Chaine600" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="nb-retards" type="xs:nonNegativeInteger" use="required" />
        <xs:attribute name="nb-abs-justifiees" type="xs:nonNegativeInteger" use="required" />
        <xs:attribute name="nb-abs-injustifiees" type="xs:nonNegativeInteger" use="required" />
        <xs:attribute name="nb-heures-manquees" type="xs:nonNegativeInteger" />
    </xs:complexType>
    
    <xs:complexType name="DomaineSocle">
        <xs:annotation>
            <xs:documentation>Décrit le positionnement de l'élève sur les domaines du socle commun
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="lsun:CodeDomaineSocle" use="required" />
        <xs:attribute name="positionnement" type="lsun:PositionnementSocle" />
    </xs:complexType>
    
    <xs:complexType name="Responsable">
        <xs:annotation>
            <xs:documentation>Décrit un responsable d'un élève
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="adresse" type="lsun:Adresse"  minOccurs="0"  />
        </xs:sequence>
        <xs:attribute name="civilite" type="lsun:Civilite" use="required" />
        <xs:attribute name="nom" type="lsun:NomPrenom" use="required" />
        <xs:attribute name="prenom" type="lsun:NomPrenom" use="required" />
        <xs:attribute name="legal1" type="xs:boolean" />
        <xs:attribute name="legal2" type="xs:boolean" />
        <xs:attribute name="lien-parente" type="lsun:Chaine40"/>        
    </xs:complexType>
    
    <xs:complexType name="Adresse">
        <xs:attribute name="ligne1" type="lsun:Chaine50" use="required" />
        <xs:attribute name="ligne2" type="lsun:Chaine50" />
        <xs:attribute name="ligne3" type="lsun:Chaine50" />
        <xs:attribute name="ligne4" type="lsun:Chaine50" />
        <xs:attribute name="code-postal" type="lsun:Chaine10" use="required" />
        <xs:attribute name="commune" type="lsun:Chaine100" use="required" />
    </xs:complexType>
    
    <xs:complexType name="BilanCycle">
        <xs:annotation>
            <xs:documentation>Contient les données constitutives d'un bilan de cycle
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="socle">
                <xs:complexType>
                    <xs:sequence minOccurs="8" maxOccurs="8">
                        <xs:element name="domaine" type="lsun:DomaineSocle" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="domaineSocleCycleConstraint">
                    <xs:annotation>
                        <xs:documentation>Unicité sur le code du domaine du socle commun
                        </xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="lsun:domaine" />
                    <xs:field xpath="@code" />
                </xs:unique>
            </xs:element>
            <xs:element name="synthese" type="lsun:Chaine1500" />
            <xs:element name="enseignement-complement" type="lsun:EnseignementComplement" minOccurs="0" />
            <xs:element name="responsables" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="responsable" type="lsun:Responsable" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="eleve-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="cycle" type="lsun:Cycle" use="required" />
        <xs:attribute name="millesime" type="lsun:Millesime" use="required" />
        <xs:attribute name="date-creation" type="xs:date" use="required" />
        <xs:attribute name="date-verrou" type="xs:date" use="required" />
        <xs:attribute name="responsable-etab-ref" type="xs:IDREF" use="required" />
        <xs:attribute name="prof-princ-refs" type="xs:IDREFS" />
    </xs:complexType>
    
    <xs:complexType name="EnseignementComplement">
        <xs:annotation>
            <xs:documentation>Décrit l'enseignement de complément associé au bilan de cycle
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="lsun:CodeEnsCompl" use="required" />
        <xs:attribute name="positionnement" type="lsun:PositionnementEnsCompl" use="required" />
    </xs:complexType>

	<xs:simpleType name="Millesime">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le millesime de l'année scolaire.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="CodeUai">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le code UAI de l'établissement
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeStructure">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les codes des structures (classes, groupe)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="8" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodeMatiere">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le code des matières (matico)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="6" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ModaliteElection">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les modalités d'élection utilisables pour les matières
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TypeEnseignant">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le type de l'enseignant (epp ou local)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="epp" />
            <xs:enumeration value="local" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Civilite">
        <xs:annotation>
            <xs:documentation>Type utilisé pour la civilité (M : Monsieur, MME : Madame)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="M" />
            <xs:enumeration value="MME" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NomPrenom">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les champs noms et prénoms
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeParcours">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les codes des parcours éducatifs
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAR_AVN" />
            <xs:enumeration value="PAR_CIT" />
            <xs:enumeration value="PAR_ART" />
            <xs:enumeration value="PAR_SAN" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeModalite">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les codes des modalités d'accompagnement
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAP"/>
            <xs:enumeration value="PPS"/>
            <xs:enumeration value="UPE2A"/>
            <xs:enumeration value="SEGPA"/>
            <xs:enumeration value="ULIS"/>
            <xs:enumeration value="PAI"/>
            <xs:enumeration value="PPRE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MoyenneAlphanumerique">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les moyennes alphanumériques
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="8" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PositionnementAcquis">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le positionnement des acquis scolaires de l'élève (entre 1 et 4)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[1-4]" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ThematiqueEpi">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les thématiques des EPIs
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EPI_SAN" />
            <xs:enumeration value="EPI_ART" />
            <xs:enumeration value="EPI_EDD" />
            <xs:enumeration value="EPI_ICC" />
            <xs:enumeration value="EPI_LGA" />
            <xs:enumeration value="EPI_LGE" />
            <xs:enumeration value="EPI_PRO" />
            <xs:enumeration value="EPI_STS" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodeDomaineSocle">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les codes des domaines du socle commun
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPD_FRA" />
            <xs:enumeration value="CPD_ETR" />
            <xs:enumeration value="CPD_SCI" />
            <xs:enumeration value="CPD_ART" />
            <xs:enumeration value="MET_APP" />
            <xs:enumeration value="FRM_CIT" />
            <xs:enumeration value="SYS_NAT" />
            <xs:enumeration value="REP_MND" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PositionnementSocle">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le positionnement des domaines du socle commun de l'élève (entre 0 et 4 : 0 pour dispensé)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[0-4]" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Cycle">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le numéro du cycle (3 ou 4)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[3-4]" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CodeEnsCompl">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les codes des enseignements de complément
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUC" />
            <xs:enumeration value="LCA" />
            <xs:enumeration value="LCR" />
            <xs:enumeration value="PRO" />
            <xs:enumeration value="LSF" />
            <xs:enumeration value="LVE" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PositionnementEnsCompl">
        <xs:annotation>
            <xs:documentation>Type utilisé pour le positionnement de l'élève sur l'enseignement de complément (1 : atteints, 2 : dépassés)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[1-2]" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Chaine10">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 10
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Chaine40">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 40
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="40" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Chaine50">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 50
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="50" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Chaine100">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 100
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Chaine150">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 150
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="150" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Chaine300">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 300
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="300" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Chaine600">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 600
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="600" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Chaine1000">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 1000
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="1000" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>
    

    <xs:simpleType name="Chaine1500">
        <xs:annotation>
            <xs:documentation>Type utilisé pour les chaînes de caractères de taille max 1500
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="1500" />
            <xs:pattern value="(.|\n)*[^\s](.|\n)*" />
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="AtLeast2IDREFS">  
	    <xs:annotation>
            <xs:documentation>Type utilisé pour définir une liste de référence d'au moins 2 élèments
            </xs:documentation>
        </xs:annotation>
	 <xs:restriction>
		 <xs:simpleType>
		 <xs:list>
		 <xs:simpleType>
		  <xs:restriction base="xs:IDREF"/>
		 </xs:simpleType>
		 </xs:list>
		 </xs:simpleType>
		 <xs:minLength value="2"/>
	 </xs:restriction>
	</xs:simpleType>
</xs:schema>
